<div class="cupon-container">

  <div class="cupon-card">

    <h1>
      Validar Cupón
    </h1>

    <p>
      Ingresa un código promocional
    </p>

<input 
  type="text" 
  [(ngModel)]="codigoCupon" 
  name="codigoCupon" 
  placeholder="Ingresa tu cupón aquí (ej: OFERTA20)" 
/>

<button (click)="validarCupon()">Aplicar Cupón</button>

    <div
      class="success"
      *ngIf="cupon"
    >

      <h2>
        🎉 Cupón válido
      </h2>

      <p>

        Código:
        {{ cupon.codigo }}

      </p>

      <p>

        Descuento:
        {{ cupon.porcentajeDescuento }}%

      </p>

    </div>

    <div
      class="error"
      *ngIf="error"
    >

      {{ error }}

    </div>

  </div>

</div>