.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0d1117;
  color: white;
  padding: 10px 20px;
}

input {
  width: 40%;
  padding: 8px;
  border-radius: 5px;
  border: none;
}
.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  width: 220px;
  text-align: center;
  transition: 0.2s;
}

.product-card:hover {
  transform: scale(1.03);
}

.price {
  color: #00a650;
  font-weight: bold;
}